streamlit
streamlit-option-menu
streamlit-extras

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

chromadb

sentence-transformers
transformers
torch
huggingface-hub

groq

python-dotenv

pandas
numpy
plotly

pypdf
pypdfium2

SQLAlchemy

scikit-learn
scipy

requests
PyYAML